.sidebar__navigation {
  background-color: var(--bg-primary);
  border-radius: var(--main-rounded);
}

.sidebar__navigation .logo {
  display: flex;
}

.logo a {
  margin-top: 1.25rem;
  padding: 0 1.5rem;
}

.logo a img {
  height: 1.5rem;
}

.sidebar__navigation ul {
  padding: 0.5rem 0.75rem;
}

.sidebar__navigation ul li {
  padding: 0.25rem 0.75rem;
}

.sidebar__navigation ul li a {
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 1rem;
  transition-duration: 200ms;
}

.sidebar__navigation ul li a:hover {
  color: var(--main-white);
}

.sidebar__navigation ul li a .navigation__icon {
  font-size: 1.5rem;
}
