body {
  background-color: #000;
}

.main-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 428px 1fr;
  grid-template-rows: 1fr 74px;
  row-gap: 8px;
  column-gap: 8px;
}

.sidebar {
  margin: 8px 0 0 8px;
  grid-row-start: 1;
  grid-column-start: 1;
  width: 420px;
  display: flex;
  flex-direction: column;
}

.main-content {
  grid-row-start: 1;
  grid-column-start: 2;
  margin: 8px 8px 0 0;
  background-color: #121212;
  border-radius: 8px;
}

.footer {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  width: calc(100% - 16px);
  height: 66px;
  margin: 0 8px 8px 8px;
  display: flex;
}

.sidebar__navigation {
  background-color: #121212;
  border-radius: 8px;
}

.sidebar__navigation .logo {
  display: flex;
}

.logo a {
  margin-top: 20px;
  padding: 0 24px;
}

.logo a img {
  height: 24px;
}

.sidebar__navigation ul {
  padding: 8px 12px;
}

.sidebar__navigation ul li {
  padding: 4px 12px;
}

.sidebar__navigation ul li a {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #b3b3b3;
  font-weight: 700;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}

.sidebar__navigation ul li a .navigation__icon {
  font-size: 24px;
}

.your-library {
  margin-top: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background-color: #121212;
  border-radius: 8px;
}

.your-library .library__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 8px 16px;
  padding: 4px 8px;
}

.your-library .library__header a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  text-transform: none;
}

.your-library .library__header .library__icon {
  font-size: 20px;
}

.your-library .library__header button {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: 0;
  border-radius: 100%;
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 300;
}

.your-library .library__header button:hover {
  background-color: #1a1a1a;
}

.section-playlist {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-playlist .section-playlist__card {
  margin: 8px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  background-color: #242424;
}

.section-playlist__card .card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__content .text {
  font-family: "DM Sans", sans-serif;
  line-height: normal;
  color: #fff;
}

.card__content .title {
  font-size: 16px;
  font-weight: 700;
}

.card__content .subtitle {
  font-size: 14px;
  font-weight: 500;
}

.section-playlist__card .section-playlist__button {
  height: 32px;
  width: fit-content;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  text-transform: none;
  border: 0;
  border-radius: 9999px;
  background-color: #fff;
  color: #000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown__content {
  display: none;
  position: absolute;
  min-width: 164px;
  z-index: 10;
  background-color: #242424;
  border-radius: 4px;
  box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
  padding: 4px;
}

.dropdown .dropdown__content ul li button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  border-radius: 2px;
  padding: 0 6px 0 12px;
  font-size: 14px;
  background-color: #242424;
}

.dropdown .dropdown__content ul li button:hover {
  background-color: #363636;
}

.dropdown .show-dropdown-content {
  display: block;
}

.sidebar .cookies {
  margin: 0 24px;
}

.sidebar .cookies a {
  color: #b3b3b3;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.sidebar .cookies a:hover {
  text-decoration: underline;
}

.sidebar .languages {
  display: flex;
  padding: 24px;
}

.languages .languages__button {
  background-color: transparent;
  border: 1px solid #878787;
  border-radius: 9999px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  padding: 8px 16px;
}

.languages__button .fa {
  font-size: 16px;
}

.footer .footer__banner {
  width: 100%;
  background-image: linear-gradient(90deg,#af2896,#509bf5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 24px 7px 15px;
}

.footer__banner .footer__banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.footer__banner__content .text {
  color: #fff;
  line-height: normal;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.footer__banner__content .title {
  font-size: 12;
  font-weight: 700;
}

.footer__banner .footer__banner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 28px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 9999px;
  transition-duration: 100ms;
  background-color: #fff;
  color: #000;
}

.footer__banner .footer__banner__button:hover {
  background-color: #e5e5e5;
  transform: scale(1.05);
}
