.cards {
  position: relative; 
  width: 220px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.cards span {
  padding: 16px;
  position: absolute;
  color: var(--text-base-light);
  font-size: 24px;
  font-weight: 700;
}

.card1 {
  background-color: var(--card1);
}
.card2 {
  background-color: var(--card2);
}
.card3 {
  background: var(--card3);
}
.card4 {
  background: var(--card4);
}
.card5 {
  background: var(--card5);
}
.card6 {
  background: var(--card6);
}
.card7 {
  background: var(--card7);
}
.card8 {
  background: var(--card8);
}
.card9 {
  background: var(--card9);
}
.card10 {
  background: var(--card10);
}
.card11 {
  background: var(--card11);
}
.card12 {
  background: var(--card12);
}
.card13 {
  background: var(--card13);
}
.card14 {
  background: var(--card14);
}
.card15 {
  background: var(--card15);
}
