.footer {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  width: calc(100% - 16px);
  height: 66px;
  margin: 0 8px 8px 8px;
  display: flex;
}

.footer .footer__banner {
  width: 100%;
  background-image: linear-gradient(90deg,#af2896,#509bf5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 24px 7px 15px;
}

.footer__banner .footer__banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.footer__banner__content .text {
  color: var(--main-white);
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
}

.footer__banner__content .title {
  font-size: 12;
  font-weight: 700;
}

.footer__banner .footer__banner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 28px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 9999px;
  transition-duration: 200ms;
  background-color: var(--bg-btn-primary);
  color: var(--btn-main-color);
}

.footer__banner .footer__banner__button:hover {
  background-color: var(--bg-btn-primary-hover);
  transform: scale(1.05);
}
