.main-container {
  grid-row-start: 1;
  grid-column-start: 2;
  max-width: calc(100vw - 26.25rem);
  height: calc(100vh - 5.625rem);
  margin: 0.5rem 0.5rem 0 0;
  background-color: var(--bg-main);
  border-radius: var(--main-rounded);
}

.header__navigation {
  width: calc(100% - 3rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: var(--bg-primary);
  border-radius: var(--main-rounded);
}

.header__navigation .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__navigation .navigation .arrow-left {
  margin-right: 1rem;
}

.arrow-left, .arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: var(--bg-icon);
  background-color: var(--bg-arrow-color);
  border: none;
  border-radius: var(--half-rounded);
  cursor: pointer;
}

.header__login {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.header__search {
  display: flex;
  align-items: center;
  width: 22.75rem;
  height: 3rem;
  margin-left: 0.5rem;
  background-color: var(--bg-search);
  border-radius: var(--full-rounded);
  border: 1px solid transparent;
}

.header__search img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.75rem;
}

.header__search input {
  background: transparent;
  border: none;
  padding: 0 6.25rem 0 0.75rem;
  color: var(--main-white);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}

.header__login .subscribe {
  height: 3rem;
  color: var(--btn-subscribe-color);
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  transition-duration: 200ms;
}

.header__login .subscribe:hover {
  color: var(--bg-btn-primary);
  transform: scale(1.05);
}

.header__login .login {
  width: 6.25rem;
  height: 3rem;
  color: var(--btn-main-color);
  background-color: var(--bg-btn-primary);
  font-size: 1rem;
  font-weight: 700;
  border-radius: var(--full-rounded);
  transition-duration: 200ms;
}

.header__login .login:hover {
  background-color: var(--bg-btn-primary-hover);
  transform: scale(1.05);
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
}

.main-content .content__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-content .content__title {
  color: var(--main-white);
  font-size: 2rem;
  font-weight: 700;
}

.main-content .content__section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-content .content__subtitle {
  color: var(--main-white);
  font-size: 1.5rem;
  font-weight: 700;
}

.playlist-container {
  height: 68vh;
  padding-top: 1rem;
  margin: 0.625rem;
  border-radius: 0.625rem;
  background-color: #121212;
  color: var(--main-white);
}

.playlist {
  margin: 1.5rem;
}

.playlist #greeting {
  color: var(--text-base-light);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.playlist .session {
  color: var(--text-base-light);
  font-size: 1.5rem;
  font-weight: 700;
}

.offer__scroll-container {
  max-height: calc(100vh - 23.25rem);
  margin: 1.5rem;
  overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar {
  width: 1px;
}

.offer__scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.offer__list-item {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cards {
  position: relative; 
  width: 13.75rem;
  height: 12.5rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.cards span {
  padding: 1rem;
  position: absolute;
  color: var(--text-base-light);
  font-size: 1.5rem;
  font-weight: 700;
}

.card1 {
  background-color: var(--card1);
}
.card2 {
  background-color: var(--card2);
}
.card3 {
  background: var(--card3);
}
.card4 {
  background: var(--card4);
}
.card5 {
  background: var(--card5);
}
.card6 {
  background: var(--card6);
}
.card7 {
  background: var(--card7);
}
.card8 {
  background: var(--card8);
}
.card9 {
  background: var(--card9);
}
.card10 {
  background: var(--card10);
}
.card11 {
  background: var(--card11);
}
.card12 {
  background: var(--card12);
}
.card13 {
  background: var(--card13);
}
.card14 {
  background: var(--card14);
}
.card15 {
  background: var(--card15);
}

.offer__list-item img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 6.75rem;
  transform: rotate(25deg) translate(18%, -2%);
}

.hidden {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.5rem;
}

.artist-card {
  display: flex;
  flex-direction: column;
  background: #181818;
  border-radius: 0.5rem;
  -ms-flex: 1;
  flex: 1;
  isolation: isolate;
  padding: 1rem;
  position: relative;
  transition: background-color 0.3s ease;
  width: calc(100% - 2rem);
}

.artist-card:hover {
  background-color: #252525;
}

.card-img {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.artist-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 50%;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 3.875rem;
}

.card-text a {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.artist-name {
  box-sizing: border-box;
  margin-block: 0;
  font-size: 1rem;
  font-weight: 700;
  padding-block-end: 0.5rem;
}

.artist-category {
  color: #6a6a6a;
  font-weight: 400;
  font-size: 0.875rem;
}

.play {
  position: relative;
}

.play .fa-play {
  position: absolute;
  right: 0.625rem;
  top: 7.5rem;
  padding: 1.125rem;
  background-color: #1db954;
  border-radius: 100%;
  font-size: 0.875rem;
  opacity: 0;
  transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
  opacity: 1;
  transform: translateY(-1.25rem);
}

.play .fa-play:hover {
  padding: 1.25rem;
  cursor: pointer;
}

#result-artist {
  padding: 1.5rem;
  max-height: calc(100vh - 17rem);
  overflow-y: auto;
}

#result-artist::-webkit-scrollbar {
  width: 1px;
}

#result-artist::-webkit-scrollbar-thumb {
  background-color: transparent;
}
