body {
  background-color: var(--main-black);
  font-family: var(--font-dm-sans);
}

.main-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 428px 1fr;
  grid-template-rows: 1fr 74px;
  row-gap: 8px;
  column-gap: 8px;
}

.sidebar {
  margin: 8px 0 0 8px;
  grid-row-start: 1;
  grid-column-start: 1;
  width: 420px;
  display: flex;
  flex-direction: column;
}

.sidebar__navigation {
  background-color: var(--bg-primary);
  border-radius: var(--main-rounded);
}

.sidebar__navigation .logo {
  display: flex;
}

.logo a {
  margin-top: 20px;
  padding: 0 24px;
}

.logo a img {
  height: 24px;
}

.sidebar__navigation ul {
  padding: 8px 12px;
}

.sidebar__navigation ul li {
  padding: 4px 12px;
}

.sidebar__navigation ul li a {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 16px;
  transition-duration: 200ms;
}

.sidebar__navigation ul li a:hover {
  color: var(--main-white);
}

.sidebar__navigation ul li a .navigation__icon {
  font-size: 24px;
}

.your-library {
  margin-top: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-primary);
  border-radius: var(--main-rounded);
}

.your-library .library__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 8px 16px;
  padding: 4px 8px;
}

.your-library .library__header a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
  transition-duration: 200ms;
}

.your-library .library__header a:hover {
  color: var(--main-white);
}

.your-library .library__header .library__icon {
  font-size: 20px;
}

.your-library .library__header button {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: 0;
  border-radius: var(--half-rounded);
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 300;
  transition-duration: 200ms;
}

.your-library .library__header button:hover {
  color: var(--main-white);
  background-color: var(--bg-btn-library-hover);
}

.section-playlist {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-playlist .section-playlist__card {
  margin: 8px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: var(--main-rounded);
  background-color: var(--bg-secondary);
}

.section-playlist__card .card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__content .text {
  line-height: normal;
  color: #fff;
}

.card__content .title {
  font-size: 16px;
  font-weight: 700;
}

.card__content .subtitle {
  font-size: 14px;
  font-weight: 500;
}

.section-playlist__card .section-playlist__button {
  height: 32px;
  width: fit-content;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  border: 0;
  border-radius: var(--full-rounded);
  background-color: var(--bg-btn-primary);
  color: var(--main-black);
  transition-duration: 200ms;
}

.section-playlist__card .section-playlist__button:hover {
  background-color: var(--bg-btn-primary-hover);
  transform: scale(1.05);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown__content {
  display: none;
  position: absolute;
  min-width: 164px;
  z-index: 10;
  background-color: var(--bg-btn-secondary);
  border-radius: 4px;
  box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
  padding: 4px;
}

.dropdown .dropdown__content ul li button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  border-radius: 2px;
  padding: 0 6px 0 12px;
  font-size: 14px;
  background-color: var(--bg-btn-secondary);
}

.dropdown .dropdown__content ul li button:hover {
  background-color: var(--bg-btn-secondary-hover);
}

.dropdown .show-dropdown-content {
  display: block;
}

.sidebar .cookies {
  margin: 0 24px;
}

.sidebar .cookies a {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.sidebar .cookies a:hover {
  text-decoration: underline;
}

.sidebar .languages {
  display: flex;
  padding: 24px;
}

.languages .languages__button {
  background-color: transparent;
  border: 1px solid var(--btn-border-color);
  border-radius: var(--full-rounded);
  color: var(--main-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
  padding: 8px 16px;
  transition-duration: 200ms;
}

.languages .languages__button:hover {
  border: 1px solid var(--btn-border-hover-color);
  transform: scale(1.05);
}

.languages__button .fa {
  font-size: 16px;
}
